.Navbar{
    height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.link{
    float: right;
    margin: 10px;
    margin-right: 10px;
}

.text{
    font-size: xx-large;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    text-decoration: none;
    color: var(--teal);
}
