.Article{
    border: var(--blue) solid 2px;
    margin: 0 30px 20px;
    text-align: left;
    padding-left: 30px;
    border-radius: 20px;
}

.title{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px var(--teal) solid;
}

.content{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.btn-holder{
    display: block;
}

.btn-holder > Button{
    display: block;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}