.form{
    border: var(--teal) solid 2px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
}

.input{
    margin: 20px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    border: solid var(--red) 2px;
    padding: 5px;
    width: 80%;
}